<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/aop
	 http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	 http://www.springframework.org/schema/context 
	 http://www.springframework.org/schema/context/spring-context-3.2.xsd ">

	<!-- <bean id="user" class="com.tang.myCloud.bean.CloudUser"> <property 
		name="username" value="tang"></property> <property name="password" value="tang"></property> 
		<property name="isvip" value="0"></property> </bean> <bean id="service" class="com.tang.myCloud.service.UserService"> 
		<property name="dao" ref="dao"></property> </bean> <bean id="dao" class="com.tang.myCloud.dao.UserDao"></bean> -->
	<context:component-scan base-package="com.tang.myCloud.bean" />
	<context:component-scan base-package="com.tang.myCloud.service" />
	<context:component-scan base-package="com.tang.myCloud.dao" />
	<context:component-scan base-package="com.tang.myCloud.aop" />

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<!-- <bean id="service" class="com.tang.myCloud.service.UserService"></bean> -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin://localhost:1521/orcl"></property>
		<property name="username" value="mycloud"></property>
		<property name="password" value="mycloud"></property>
	</bean>
	<bean id="dbUtils" class="com.tang.myCloud.utils.DBUtils">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- <bean id="dao" class="com.tang.myCloud.dao.UserDao"></bean> -->
</beans>
