@CHARSET "UTF-8";


#addCust {
	font-size: 20px;
	padding: 10px 100px;
}

input {
	font-size: 20px;
	padding: 3px;
}

#button {
	padding: 10px 160px;
}

#button input {
	margin: 0px 10px;
}

#admin {
	float: right;
	margin-right: 300px;
}

#admName {
	color: #fa0ffd;
}
.warn{
	color: #fa0f40;
	padding-left: 10px;
	font-size: 16px;
}