 @CHARSET "UTF-8";
 .menu {
	padding: 5px 10px;
	border: 1px solid green;
	margin: 5px;
}
 .data {
	
	font-size: 18px;
	padding: 10px 40px;
	box-sizing: border-box;
	 margin-right: 5px;
	 text-align-all: center;
}
 .row {
		text-align: center;
		background-color: #F2FAFF;
		padding: 10px;

}
.oneRow{
	margin: 0 auto;
	padding: 10px;
	font-size: 16px;
}
.click{
	padding: 5px 10px;
	background-color: #F2FAF0;
	color: #f0f;
	font-size: 22px;
	margin: 5px;
}

.menuFoucs {
	padding: 5px 10px;
	border: 2px solid green;
	font-size: 22px;
	margin: 5px;
}
#top {
	font-size: 18px;
	padding: 10px 100px;
	margin: 10px;
}
#admin {
	float: right;
	margin-right: 300px;
}
.bottom {  
                position: absolute;  
                left: 310px;  
                right: 0;  
                bottom: 40px;   
                height: 80px; 
                 
                display: block;  
            }  
